*{
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
        body{
            position: relative;
        }
        .sticky-app-container{
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
        }
        .sticky-app-container .top-text p {
            text-align: center;
            padding: 10px;
        }
        .product-item{
            display: flex;
            align-items: center;
            gap:20px;
        }
        .product-image img{
            height: 100%;
            display: block;
        }
        h2.product-title {
            font-size: 20px;
            font-weight: 600;
            line-height: 32px;
            color: #fff;
        }
        p.product-price {
            font-size: 18px;
            font-weight: 400;
            line-height: 28px;
            color: #fff;
        }
        .product-action {
            display: flex;
            align-items: center;
            gap: 20px;
            margin-left: auto;
        }
        .qty-container .plus, .qty-container .minus {
            padding: 4px 8px;
            font-size: 14px;
            line-height: 20px;
            background: transparent;
            border: 1px solid #fff;
            color: #fff;
        }
        .qty-container .plus:hover, .qty-container .minus:hover{
            background-color: #fff;
            color: #000;
        }
        input#qtyInp {
            width: 60px;
            height: 30px;
            text-align: center;
            background: transparent;
            border: 1px solid  #fff;
            color: #fff;
        }
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        .product-add-to-cart button{
            background-color: transparent;
            border: 1px solid #fff;
            color: #fff;
            padding: 6px 20px;
            font-size: 16px;
            transition: .2s all ease-in-out;
        }
        .product-add-to-cart button:hover{
            color: #000;
            background-color: #fff;
        }
        button{
            cursor: pointer;
        }