* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    position: relative;
}

.sticky-app-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 9;
}

.sticky-app-container .top-text p {
    text-align: center;
    padding: 10px;
}

.product-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:20px;
    padding: 0px 10px 0px 0;
}
.product-image-content-variant {
    width: 86%;
}
.product-add-to-cart {
    width: 13% !important;
}
.product-image-content {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}
.product-image {
    width: 10%;
}
.product-content{
    width: 95%;
    display: flex;
    align-items: center;
}
.product-prices{
    display: flex;
}
.product-add-to-cart button{

    padding: 6px 20px;
    transition: .2s all ease-in-out;
    display: block;
    width: 100%;
}
.product-image img {
    width: 100%;
    height: 100%;
    display: block;
}
.product-image-content-variant.with-image .product-title-price{
    padding: 10px 0;
}

.product-image-content-variant.without-image .product-title-price{
    padding: 10px;
}

p.product-price {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: #fff;
}


.product-action {
    display: flex;
    align-items: center;
    gap: 20px;
}

.product-info {
    margin-left: auto;
    display: flex;
    /* gap: 10px; */
}

.product-variant select {
    padding: 5px 10px;
    line-height: 24px;
    background: transparent;
    border: none;
    border-radius: 4px;;
}

.product-variant select option {
    background-color: #000;
}

*:focus-visible {
    box-shadow: none;
    border: 0px;
}

.qty-container .plus,
.qty-container .minus {
    padding: 4px 8px;
}

input#qtyInp {
    height: 30px;
    background-color: transparent;
    border: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.product-add-to-cart button {
    padding: 8px 12px;
    transition: .2s all ease-in-out;
}

.product-add-to-cart button:hover {
    color: #000;
    background-color: #fff;
}

button {
    cursor: pointer;
}
.product-image {
    width: 100px
}



@media (max-width: 768px) {
    .product-item {
        flex-direction: column;
        gap: 0px;
        padding-right: 0;
    }
    .product-image-content-variant, .product-add-to-cart {
        width: 100% !important;
    }

    .product-image {
        width: 20%;
    }
    .product-content{
        width: 70% !important;
        flex-direction: column;
        align-items: start;
        padding: 10px 0;
    }
    .product-title-price{
        display: block;
        width: 100%;
        margin-bottom: 10px;
    }
    .product-info {
        margin: 0 10px 0 0;
        justify-content: space-between;
    }
    .product-image-content-variant.without-image {
        width: 100%;
    }
    .product-image-content-variant.without-image{
        padding: 0;
    }
    .product-image-content-variant.without-image .product-content {
        width: 100%;
    }
    .product-image-content-variant.without-image .product-title-price{
        display: block;
        width: 100%;
    }
    h2.product-title{
        line-height: 20px;
        padding-left: 0px;
        margin-bottom: 5px;
    }

}

@media (max-width: 480px) {
    .product-title-price{
        display: block;
        padding: 5px 0 !important;
    }
    h2.product-title{
        padding-top: 0px;
        font-size: 14px !important;
        line-height: 16px;
    }
    p.product-price{
        line-height: 16px;
    }
    .sticky-app-container{
        border-radius: 0px !important;
    }
    
    .product-prices{
        padding-left: 0px;
        align-items: center;
        gap: 0px;
    }
    .product-title-price{
        margin-bottom: 0;
    }
    .product-image-content{
        gap: 0;
        align-items: center;
    }
    .product-image {
        width: 30%;
        height: auto;
    }
    .product-image-content-variant.without-image .product-title-price{
        display: block;
    }
    .product-info {
        margin: 0 10px 0 0;
    }
}

